@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Fraunces';
	font-weight: 1 999;
	font-style: normal;
	src: url('/fonts/fraunces/fraunces.var.ttf') format('truetype');
}

@font-face {
	font-family: 'Fraunces';
	font-weight: 1 999;
	font-style: italic;
	src: url('/fonts/fraunces/fraunces.italic.var.ttf') format('truetype');
}

@font-face {
	font-family: 'Manrope';
	font-weight: 1 999;
	src: url('/fonts/manrope/manrope.var.ttf') format('truetype');
}

body {
	@apply bg-white dark:bg-zinc-900
}